/* Hoja de estilos Externa */
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 20%;
}
li a{
	display: block;
	background-color: white;
	padding: 8px 10px;
	text-decoration: none;
	color: #000000;
}
li a:hover{
	background-color: #f3cb00;
	color: #ffffff;
}
li a.activo{
	background-color: #f3cb00;
	color: #ffffff;
}
li a:hover:not(.activo){
	background-color: #ffde5c;
	color: #ffffff;
}

/* me */
body{
	background-color: #fff6af;
	font-family: arial, verdana, sans-seridf;
}
h1{
	color: #000000;
}